/**ipad****/


@media(max-width:1000px){
	.container {
		width:100%;
		margin: 0 auto;
		text-align: center;
		
		}
	.title-wrapper{
		background-size: contain;
		width: 100%;
		margin-top: -100px;
		margin-bottom:-100px;
		opacity: 0.8;
		}
	.wrap{
		overflow: hidden;
	}
	.menu-wrapper{
		display: none;
	}
	.title-wrapper h1{
		font-size:40px;
		margin-left:-10;
		margin-top:180px;
		
	}
	.title-wrapper p{
		font-size:9px;
		margin-left:-160px;
		margin-top:30px;
	}

	body{
		overflow-x: hidden;
		width: 100%;
	}

	.btn{
		opacity:1;
	}
	.spbr{
		display: block;
	}
	.spbripad{
		display: block;
	}
}	


/**smart phone**/

@media(max-width: 670px) {

	.title-wrapper{
		margin-top:-200px;
		margin-bottom:-200px;
	}

	.title-wrapper h1{
		font-size: 30px;
		margin-left:-180px;
	}

	.title-wrapper p {
		font-size:9px;
		text-align: center;
		margin-left: -370px;
		margin-top: 4px;
	}

	.container h2{
		font-size:18px;
		margin-top:40px;
	}

	.container p{
			font-size:9px;
			text-align: center;
	}

	.concept-wrapper img{
		width: 60%;

	}
	.concept-wrapper{
		height:340px;
	}
	.picture h3{
		font-size:18px;
		margin-top:5px;
	}
	.picture p{
		font-size: 9px;
	}
	.pictures{
		display: flex;
		width:100%;
	}
	.picture {
		width:80%;
		margin: 0 auto;
	}
	.picture img{
		width: 100%;
	}

	/*****ppr*****/
	.pp-wrapper{
		display: flex;
		width: 100%;
		flex-flow: column;
		
	}
	.ppr{
		width:80%;
		margin: 0 auto;
	}

	.ppr img{
		width:100%;
		
	}
	.ppr h2{
		margin-top:5px;
	}

	/*******info*****/
	.information img{
		width:80%;
	}

	.information td{
		font-size:9px;
		padding:1px;

	}
	.table{
		text-align: center;
	}

	/*****contact*****/
	.contact-wrapper{
		height:300px;
	}

	.btn{
		margin:10px;
		width:80%;
	}
	.spbr{
		display: block;
	}
	.spbripad{
		display: none;
	}

}
