*{
  box-sizing: border-box;
}

.container{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.title-wrapper{
  background-image: url(https://github.com/travelyuka/travelyuka/blob/master/IMG_7771.jpg?raw=true);
  background-repeat: no-repeat;
  width: 100%;
  height:540px;
  background-size: cover;
  position: relative;
  
 opacity: 0.8;
 
 background-position: center center;
  
}

.title-wrapper h1{
  font-size: 120px;
  text-align: center;
  position: absolute;
  top: 45px;
  left: 300px;
  color:white;
  
}

.title-wrapper p{
  font-size:17px;
  text-align: center;
  position: absolute;
  top:255px;
  left:500px;
  color:white;
}


.menu-wrapper{
  display: inline-flex;
  width:960px;
  height:64px;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  left:120px;
  z-index: 10;
  margin: 0 auto;
  text-align: center;

}
.menu-wrapper{
  color:black;
  font-size: 36px;
  padding-top: 19px;
  padding-bottom: 9px;
}


/****concept***/
.concept-wrapper{
  height:600px;
  background: linear-gradient(#fff 70%, #ededed 30%);
}
.container img{
  width:500px;
}

.concept-wrapper h2{
  font-size:36px;
}
.concept-wrapper p{
  font-size:16px;
}
/*****pictures****/
.picture img{
  width:400px;
}

.pictures-wrapper{
  background-color: white;
  

}
.pictures{
  display: flex;
  flex-wrap: wrap;
  width:100%;
 
}
.picture{
  width:50%;
  
}

.heading h2{
  font-size:36px;

}

.heading p{
  font-size:16px;
}
.picture h3{
  font-size:24px;
}

.picture p{
  font-size:16px;
}
/****pulpitrocl*****/
.pulpit-rock-wrapper{
  background: linear-gradient(#ededed 70%,#fff 30%);

}
.pp-wrapper{
  display: flex;
  justify-content: center;
  width:100%;
}
.ppr{
  
 width:30%;
}

.pp-wrapper img{
  width:300px;
}

.ppr h2{
  font-size:24px;
}
.ppr p{
  font-size:16px;
}


/*****infomation***/
.table{
  
  }
.table td{
  padding:20px 10px;
  text-align: left;
  font-size: 16px;
}
.infomation-norway-pic{
  

}

.information{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
.info-wrapper{
  
}



/*****contact*******/
.contact-wrapper{
  background-image: url(https://github.com/travelyuka/travelyuka/blob/master/IMG_8361.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}

.btn{
  display: inline-block;
  background-color:#dabeda;
  border-radius: 7px;
  height:35px;
  width:150px;
  padding-top: 8px;
  color:white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  opacity:0.8;
  box-shadow: 0 4px #7b5a99;
  margin-right:50px;

}

.btn:hover{
  background-color: #d36899;
}

.btn:active{
  position: relative;
  top: 4px; 
  box-shadow: none;

}

.spbr{
  display: none;
}

.spbripad{
  display: none;
}
